@page
@model MaterialsAndDropTableGeneratorModel
@{
	ViewData["Title"] = "Materials & Drop Tables Generator";
}
@section Stylesheets
{
	<link rel="stylesheet" href="~/lib/select2/css/select2.min.css"/>
}
@section Scripts
{
	<script src="~/lib/select2/js/select2.full.min.js" type="text/javascript"></script>
	<script src="~/js/MaterialsAndDropTableGenerator.js" type="text/javascript"></script>
	<script type="text/javascript">
		let dropdowns = {
			"MHWI": `@(Html.Raw(Model.MHWIDropdowns))`,
			"MHRS": `@(Html.Raw(Model.MHRSDropdowns))`
		};
		function callGenerator(finalData)
		{
			$.ajax({
				url: '@(Url.Action("GenerateTables", "MaterialsAndDropRatesTablesController"))/',
				data: { json: JSON.stringify(finalData), game: $("#ddlGameSelect").val(), escapeTabbers: $("#chkEscapeTabbers").prop("checked") },
				type: "POST",
				dataType: "json",
				statusCode: {
					200: function (result) {
						$("#txtResults").val(result.responseText);
						if (typeof (mdlGenerate) === 'undefined') {
							mdlGenerate = new bootstrap.Modal(document.getElementById('mdlGenerate'));
						}
						mdlGenerate.show();
					},
					500: function (jqXHR, textStatus, errorThrown)
					{
						alert(errorThrown);
					}
				}
			});
		}
	</script>
}
<div class="container-fluid" style="height: 97vh">
	<div class="row pt-1 m-auto p-auto">
		<div class="col">
			<div class="row py-1">
				<div class="col-3">
					<label for="txtMonsterName">Monster Name</label>
					<input type="text" id="txtMonsterName" class="w-100 form-control" />
				</div>
				<div class="col-3">
					<label for="ddlGameSelect">Game</label>
					<select class="form-control form-select" onchange="updateDropdowns()" id="ddlGameSelect">
						<option value="MHWI">Monster Hunter World: Iceborne</option>
						<option value="MHRS">Monster Hunter Rise: Sunbreak</option>
						<option value="MHWilds">Monster Hunter Wilds</option>
					</select>
				</div>
				<div class="col-2 pt-4">
					<input class="form-check-input m-auto" style="font-size:1.5rem;" type="checkbox" value="" id="chkEscapeTabbers">
					<label for="chkEscapeTabbers">Escape Tabbers?</label>
				</div>
				<div class="col">
					<div class="float-end">
						<button type="button" onclick="save()" class="btn btn-success" title="Save your progress to your local machine to reload later."><i class="bi bi-floppy"></i></button>
						<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#mdlLoad" title="Load previously saved progress."><i class="bi bi-upload"></i></button>
						<button type="button" onclick="generateTables();" class="btn btn-primary btn-generate-wiki-data" title="When finished, click here to generate the final product.">Generate Drop Tables</button>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mdlHelp" title="Help"><i class="bi bi-question-circle"></i></button>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mdlChangeLog" title="View Change Log"><i class="bi bi-info-circle"></i></button>
					</div>
				</div>
			</div>
			<div class="row py-1">
				<div class="col m-auto">
					<div class="float-end align-self-end form-group">
						<button type="button" onclick="addRankCard();" class="btn btn-primary" title="Add new card that represents a new rank in the tabber.">Add New Rank</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="divCardContainer">
					<div class="row py-1 card-holder">
						<div class="card" id="card_1">
							<div class="card-header">
								<div class="row">
									<div class="col-2">
										<div class="row pb-1">
											<div class="col">
												<button style="padding: .25rem; margin-right:.25rem;" class="btn btn-primary bi bi-arrow-up float-start" onclick="$(this).parents('.card-holder').after($(this).parents('.card-holder').prev())"></button>
												<button style="padding: .25rem;" class="btn btn-primary bi bi-arrow-down float-start" onclick="$(this).parents('.card-holder').before($(this).parents('.card-holder').next())"></button>
											</div>
										</div>
									</div>
									<div class="col">
										<button type="button" class="btn btn-primary btn-collapse-card float-end" data-is-collapsed="false" onmousedown="collapseCard($(this));" title="Collapse this card."><i class="bi bi-arrows-collapse"></i></button>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<label class="label-rank-name" for="txtRankName">Rank</label>
										<input type="text" id="txtRankName" class="w-100 form-control rank-name" />
									</div>
									<div class="col m-auto">
										<div class="float-end">
											<button type="button" onclick="addTableToRankCard('');" class="btn btn-primary btn-add-table" title="Add new table section to current card.">Add New Table</button>
											<button type="button" onclick="$(this).parents('div.card-holder').first().remove();" class="btn btn-danger btn-delete-card" title="Delete this card."><i class="bi bi-trash"></i></button>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body" id="card-body_1">
								<div class="row">
									<div class="table-container">
										<div id="divFirstHolder" class="table-holder">
											<div class="row table-row table-header-row">
												<div class="col">
													<div class="row">
														<div class="col-2">
															<div class="row pb-1">
																<div class="col">
																	<button style="padding: .25rem; margin-right:.25rem;" class="btn btn-primary bi bi-arrow-up float-start" onclick="$(this).parents('.table-holder').after($(this).parents('.table-holder').prev())"></button>
																	<button style="padding: .25rem;" class="btn btn-primary bi bi-arrow-down float-start" onclick="$(this).parents('.table-holder').before($(this).parents('.table-holder').next())"></button>
																</div>
															</div>
														</div>
														<div class="col">
															<button type="button" class="btn btn-primary btn-collapse-table float-end" data-is-collapsed="false" onmousedown="collapseTable($(this));" title="Collapse this table."><i class="bi bi-arrows-collapse"></i></button>
														</div>
													</div>
													<div class="row">
														<div class="col-6">
															<label class="table-header-label" for="txtTableHeader">Table Header</label>
															<input type="text" id="txtTableHeader" class="w-100 form-control table-header" />
														</div>
														<div class="col m-auto">
															<div class="float-end">
																<button type="button" onclick="addItemToTable('');" class="btn btn-primary btn-add-item" title="Add new table section to current card.">Add New Item</button>
																<button type="button" onclick="$(this).parents('div.table-holder').first().remove();" class="btn btn-danger btn-delete-table" title="Delete this table."><i class="bi bi-trash"></i></button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row py-2 table-content">
												<div class="col">
													<table class="table table-striped table-dark item-table">
														<thead>
															<tr style="vertical-align:middle;">
																<th scope="col" style="width:5%">Move</th>
																<th scope="col" style="width:35%">Item</th>
																<th scope="col" style="width:15%">Chance %</th>
																<th scope="col" style="width:30%">Category</th>
																<th scope="col" style="width:3%">Quantity</th>
																<th scope="col" style="width:5%">Delete</th>
															</tr>
														</thead>
														<tbody id="tbody_1">
															<tr id="trFirstRow" style="vertical-align:middle;" class="table-content-row">
																<td style="text-align:center">
																	<div class="row pb-1">
																		<div class="col">
																			<button style="padding: .25rem; margin-right:.25rem;" class="btn btn-primary bi bi-arrow-up float-start" onclick="$(this).parent().parent().parent().parent().after($(this).parent().parent().parent().parent().prev())"></button>
																			<button style="padding: .25rem;" class="btn btn-primary bi bi-arrow-down float-start" onclick="$(this).parent().parent().parent().parent().before($(this).parent().parent().parent().parent().next())"></button>
																		</div>
																	</div>
																</td>
																<td>
																	<select class="form-control form-select item-name-input" onclick="$(this).find('')">
																		@Html.Raw(Model.MHWIDropdowns)
																	</select>
																</td>
																<td>
																	<input class="form-control item-chance-input" type="number" onblur="validateInput(this);" />
																</td>
																<td>
																	<input class="form-control item-category-input" type="text" />
																</td>
																<td>
																	<input class="form-control item-quantity-input" type="number" value="1" />
																</td>
																<td style="text-align:center">
																	<button type="button" onclick="$(this).parent().parent().remove();" class="btn btn-danger btn-delete-row" title="Delete this item."><i class="bi bi-trash"></i></button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="mdlHelp" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="helpModalLabel">Help</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				This tool creates both the Materials and Drop Rates sections of a monster's page for the <a target="_blank" href="https://monsterhunterwiki.org/wiki/Main_Page">Monster Hunter wiki</a>. <br> <br>
				To generate this data, start by adding the monster's name in the top left. <br> <br>
				After that, you must add every item for the monster that you plan to use in the Item List on the right side of the page. Enter the item's name, what kind of icon the item should use, and what color the icon should be. If you want to enter a description, rarity, and price for the item, you can. Otherwise, placeholders will be used. If you want the item to be included in the materials list, check the checkbox on the left side of the row.<br><br>
				Then, for each rank that the monster appears in for the game, add a rank card by clicking "Add New Rank" at the middle right. <br> <br>
				For each rank card, enter the name of that rank (Low, High, Master, God, etc.) in the Rank box at the top of the card. <br> <br>
				Once that's complete, determine how many tables you'll have for that rank. Each table will render as a column in the monster's page. <br> <br>
				Finally, for each item that should appear in that section, select the item in the dropdown under the Item column, how you get that item (things like Investigation (Gold) or Carves) under the Category column, and how many of that item you get under the Quantity column. <br> <br>
				Once every item has been filled out accordingly, click "Generate Drop Tables" on the top right, and your completed template will appear in a popup textbox. You can click the clipboard (<span class="bi bi-clipboard"></span>) icon in the top-right of the popup to automatically copy the contents of the results box to your device's clipboard.<br> <br>
				Simply paste that data into the appropriate area of the monster page, and you're done!<br> <br>
				If, at any point, you need to reorder any of the tables, ranks, or items, you can click and hold on the drag handles (<span class="bi bi-arrows-move"></span>) on the top-left of each of them and drag them to the appropriate place.<br /><br />
				If you need to take a break, feel free to click the green save (<span class="bi bi-floppy"></span>) button in the top right. A file will be downloaded with your save data in it. When you come back, click the yellow load (<span class="bi bi-upload"></span>) button in the top right and navigate to your file. Click "Load", then you're ready to go!
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="mdlGenerate" tabindex="-1" aria-labelledby="generateModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="generateModalLabel">Generated Table</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row py-1">
					<div class="col">
						<label for="txtResults" class="text-bottom">Complete Materials & Drop Rates Table Sources</label>
						<button class="btn btn-primary bi bi-clipboard float-end" title="Copy contents of table results." onclick="copyToClipboard();"></button>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<textarea id="txtResults" style="height:200px;" class="w-100 form-control"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="mdlChangeLog" tabindex="-1" aria-labelledby="changeLogModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="changeLogModalLabel">ChangeLog</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" style="max-height: 78vh; overflow-y:auto;">
				<div class="row">
					<div class="col">
						<p>Ping or message @@rampagerobot on Discord if you have any issues.</p>
					</div>
				</div>
				<div class="row py-2">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4>v1.3.7</h4>
							</div>
							<div class="card-body">
								<h6>Fixed old save incompatibility since items switch.</h6>
								<h6>Fixed game agnosticism in saves.</h6>
								<h6>Fixed dropdowns not auto-focusing on open.</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row py-2">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4>v1.3.7</h4>
							</div>
							<div class="card-body">
								<h6>Fixed duplicates in materials row.</h6>
								<h6>Added "Escape Tabbers" checkbox for use with tabbers that will be nested inside other tabbers.</h6>
								<h6>Added game compatibility for MHWilds and MHRS.</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row py-2">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4>v1.3.6</h4>
							</div>
							<div class="card-body">
								<h6>Improved null/blank checking on rarity, chance, and price.</h6>
								<h6>Fixed bug where rows could not be moved to other tables.</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row py-2">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4>v1.3.5</h4>
							</div>
							<div class="card-body">
								<h6>Implemented saving/loading.</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row py-2">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4>v1.3.4</h4>
							</div>
							<div class="card-body">
								<h6>Moved to ASP.Net Core app.</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row py-2">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4>v1.3.3</h4>
							</div>
							<div class="card-body">
								<h6>Fixed some formatting hiccups with table generation.</h6>
								<h6>Added buttons to all tables and cards to allow for them to be collapsed and hidden when not being edited.</h6>
								<h6>Fixed a bug that caused deleted tables to leave a remnant behind that messed up final generation.</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row py-2">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4>v1.3.2</h4>
							</div>
							<div class="card-body">
								<h6>Added Include in Materials checkbox to item list.</h6>
								<h6>Organized Materials list by rarity, then by price, then by name ascending.</h6>
								<h6>Added some missing icon types.</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row py-2">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4>v1.3.1</h4>
							</div>
							<div class="card-body">
								<h6>Added change log.</h6>
								<h6>Fixed a bug where dragging highlighted text allowed the user to move an input out of its container.</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row py-2">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4>v1.3.0</h4>
							</div>
							<div class="card-body">
								<h6>Added description, rarity, and price to the item list table.</h6>
								<h6>Fixed a bug where dragging a row would sometimes move the row out of its table.</h6>
								<h6>Added border to tables inside rank cards.</h6>
								<h6>Resized left-side column to provide more room for the item list table.</h6>
								<h6>Made the left and right columns scroll and resize independently to allow for easier data entry.</h6>
								<h6>Item names in Item selects are now alphabetized.</h6>
								<h6>Color names and icon types are now alphabetized.</h6>
								<h6>Added warning to the item list table if the user has duplicate item names in their item list.</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row py-2">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4>v1.2.0</h4>
							</div>
							<div class="card-body">
								<h6>Added the item list table.</h6>
								<h6>Made items in the left column (table data) require selecting from the item list table, instead of redefining the items every time.</h6>
								<h6>Rank cards, item tables, and items can now be dragged to reorder them on the page.</h6>
								<h6>Trimmed down some excessive JavaScript.</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row py-2">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4>v1.1.0</h4>
							</div>
							<div class="card-body">
								<h6>Added some missing material types and colors.</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="row py-2">
					<div class="col">
						<div class="card">
							<div class="card-header">
								<h4>v1.0.0</h4>
							</div>
							<div class="card-body">
								<h6>Initial release. Allows for basic materials/drop rates table generation with line-by-line item definitions.</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
